@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*  -------------------------------------------------------------------- RESERTS -------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* /-------------------------------------------------------------------- RESERTS -------*/

/*  -------------------------------------------------------------------- HEADER --------*/
header {
  width: 100%;
  background-color: #000;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  margin-left: 15px;
}

.logo h1 {
  font-size: 1.600rem;
  font-weight: 500;
  color: #fff;
  font-family: "Protest Guerrilla", sans-serif;
}

span {
  font-size: 1.600rem;
  font-weight: 500;
  color: #ff0000;
  font-family: "Protest Guerrilla", sans-serif;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  padding: 8px;
}

.icons a {
  margin-left: 8px;
  text-decoration: none;
  color: #000;
  background-color: #ffffffe2;
  border: solid 1px #ffffff65;
  padding: 4.6px;
  border-radius: 50%;
}

.icons a i {
  font-size: 16px;
}

#icon-likendin {
  font-size: 15.2px;
}

/*  /-------------------------------------------------------------------- HEADER -------*/

/*  -------------------------------------------------------------------- FOOTER -------*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-align: center;
  height: 40px;
}

footer p {
  color: #fff;
  font-size: 0.8125rem;
}

.icons-footer {
  display: flex;
}

.rodape i {
  margin-left: 4px;
  color: red;
  font-size: 15px;
  position: absolute;
  margin-bottom: 3px;
}

/*  /-------------------------------------------------------------------- FOOTER ------*/

/*  -------------------------------------------------------------------- MAIN ----------*/
/* Estiliza o body para centralizar o conteúdo */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: calc(100vh - 64px - 40px);
  position: relative;
  background-image: url("pikachu-perfil.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.80);
  gap: 1px;
}

/* Centraliza o conteúdo da página */
.item-resultado {
  position: absolute;
  width: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  border-radius: 10px;
  color: #fff;
  padding: 12px;
  background-image: url("pokebola.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.info-header {
  position: relative;
}

h2 {
  margin: 0 0 5px 0;
}

.btn-fechar {
  position: absolute;
  margin-left: 50%;
  top: 7px;
  right: 10px;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  border: solid 1px #ffffff81;
  cursor: pointer;
}

.info-links {
  margin-top: 8px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  border: solid 1px #ffffff81;
  cursor: pointer;
}

.info-links a {
  color: #fff;
  font-weight: 600;
}

/*  -------------------------------------------------------------------- CENTER -------*/

/*  -------------------------------------------------------------------- MAIN LEFT ----*/
.column-left {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title h2 {
  color: #1c1c1c;
  font-family: "Bebas Neue", system-ui;
  font-size: 1.680rem;
  letter-spacing: 1px;
  font-weight: 700;
}

input {
  margin-bottom: 10px;
  font-size: 1rem;
  background-color: #fff;
  padding: 8px;
  border: solid 1px #ffffff65;
  outline: none;
  font-weight: 600;
  color: #000;
  border-radius: 20px;
  padding-left: -4px;
  width: 100%;
}

input::placeholder {
  color: #000000c7;
  font-weight: 400;
}

button {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 8px;
  border-radius: 20px;
  color: #fff;
  letter-spacing: 2px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  font-family: "Bebas Neue", system-ui;
  background-color: #000000;
  cursor: pointer;
  border: solid 1px #ffffff95;
  width: 100%;
}

button:hover {
  background-color: #161616dc;
}

.search-center {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/*  -------------------------------------------------------------------- MAIN RIGHT ----*/
.column-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #ffffff65;
}

.card img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: brightness(0.75);
  opacity: 0.90;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card img:hover {
  opacity: 1;
}


.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  border-radius: 0 0 20px 20px;
}

/*  ------- MAIN RESPONSIVIDADE ----*/
@media (max-width: 1045px) {
  main {
    grid-template-columns: 1fr;
  }

  .search-center {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100px;
    height: 100px;
  }

  .search-center {
    width: 85%;
  }
}

@media (max-width: 530px) {
  .item-resultado {
    width: 85%;
  }

  .title h2 {
    font-size: 1.300rem;
  }
}

@media (max-width: 380px) {

  button {
    font-size: 15px;
    letter-spacing: 2px;
  }

  input {
    font-size: 14px;
  }

  input::placeholder {
    font-size: 14px;
  }


  .card {
    width: 85px;
    height: 85px;
    border: solid 1px #ffffff15;
  }

  .search-center {
    width: 95%;
  }

  .card-footer {
    font-size: 12px;
  }

  .title h2 {
    font-size: 1rem;
  }

}

@media (max-width: 320px) {
  .card {
    width: 65px;
    height: 65px;
  }
}